<div fxLayout="column" fxLayoutAlign="start start" class="mt-3">
    <div fxLayout="row" fxLayoutAlign="start center" class="light-border-bottom">
        <span class="input-group-text"><fa-icon [icon]="['fas', 'user']"></fa-icon></span>
        <span class="primary-text mx-2">Ashwin S Peradath</span>
    </div>
    <span class="tertiary-text my-3">MENU</span>
    <div fxLayout="row" fxLayoutAlign="start center">
        <span class="input-group-text border-0 bg-transparent"><fa-icon [icon]="['fas', 'bars']"></fa-icon></span>
        <span class="primary-text mx-2">Overview</span>
    </div> 
    <div fxLayout="row" fxLayoutAlign="start center">
        <span class="input-group-text border-0 bg-transparent"><fa-icon [icon]="['fas', 'money-bill-transfer']"></fa-icon></span>
        <span class="primary-text mx-1">Transactions</span>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center">
        <span class="input-group-text border-0 bg-transparent"><fa-icon [icon]="['fas', 'chart-simple']"></fa-icon></span>
        <span class="primary-text mx-2">Analytics</span>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" class="light-border-bottom">
        <span class="input-group-text border-0 bg-transparent"><fa-icon [icon]="['fas', 'credit-card']"></fa-icon></span>
        <span class="primary-text mx-1">Cards</span>
    </div>
    <span class="tertiary-text my-3">GENERAL</span>
    <div fxLayout="row" fxLayoutAlign="start center">
        <span class="input-group-text border-0 bg-transparent"><fa-icon [icon]="['fas', 'gear']"></fa-icon></span>
        <span class="primary-text mx-2">Settings</span>
    </div> 
    <div fxLayout="row" fxLayoutAlign="start center">
        <span class="input-group-text border-0 bg-transparent"><fa-icon [icon]="['fas', 'circle-question']"></fa-icon></span>
        <span class="primary-text mx-2">Help/Support</span>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" class="light-border-bottom">
        <span class="input-group-text border-0 bg-transparent"><fa-icon [icon]="['fas', 'moon']"></fa-icon></span>
        <span class="primary-text mx-2">Dark Mode</span>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center" class="dotted-quaternary-border-container w-75 mt-3">
        <span class="input-group-text border-0 bg-transparent">
            <fa-icon [icon]="['fas', 'circle-plus']" class="dotted-circular-border fa-2x"></fa-icon>
        </span>
        <span class="primary-text my-2">New Payment</span>    
    </div>
</div>

