<div class="container my-2">
  <div fxLayout="column" fxLayoutAlign="none" fxLayoutGap="10px">
    <app-header></app-header>
    <div fxLayout="row">
      <div fxFlex="20%">
        <app-side-nav></app-side-nav>
      </div>
      <div fxFlex="80%" fxLayoutGap="10px">
        <div fxFlex="40%" >
          <app-dashboard-left></app-dashboard-left>
        </div>
        <div fxFlex="60%" fxLayoutGap="10px">
          <app-dashboard-right></app-dashboard-right>
        </div>
      </div>
    </div>
  </div>
</div>