.credit-card {
    height: 180px;
    background: linear-gradient(to bottom, #10103f 50%, #91a9a9 50%);
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.top-half {
    height: 50%;
}

.bottom-half {
    height: 50%;
    margin: 10px;
}